.Grid {
  display: grid;
  gap: 0 var(--space-l);
  padding-bottom: var(--space-l);
  // 41 px = header height
  height: calc(100vh - 41px - var(--space-l) * 2);
  &_cols_1 {
    grid-template-columns: 1fr;
  }
  &_cols_2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &_cols_3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &_cols_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  & > div {
    // background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-bg-border);
    border-radius: 2px;
  }
}
